!!!
%html{:lang => "ja"}
  %head
    %meta(charset="UTF-8")
  %body
    :css
      .myStyle {
        
      }
    :javascript
      alert(1);
      if (1) {
        alert(2);
      }
    %div
      :escaped
        <html>
        </html>
